---
layout: post
title:  "Index of currentDIR"
---
<ul style="list-style-type: square">
    <li>
      <a href="{{ site.baseurl | append: page.dir }}">{{ page.dir | url_decode }}</a>
    </li>
</ul>

<p>

<ul style="list-style-type: none; margin-left: 1em;">
    {% for myfiles in site.static_files %}
    {% if myfiles.path contains page.dir %}
    <li>
      <a href="{{ site.baseurl | append: myfiles.path }}">{{ myfiles.name }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<table>
  <tr>
     <th colspan="2">thispage.info</th>
  </tr>
  <tr align="left">
     <th>page.name</th><td>{{ page.name }}</td>
  </tr>
  <tr align="left">
    <th>page.dir</th><td>{{ page.dir }}</td>
 </tr>
 <tr align="left">
  <th>page.path</th><td>{{ page.path }}</td>
</tr>
<tr align="left">
  <th>page.relative_path</th><td>{{ page.relative_path }}</td>
</tr>
<tr align="left">
  <th>page.url</th><td>{{ page.url }}</td>
</tr>
<tr align="left">
  <th>page.id</th><td>{{ page.id }}</td>
</tr>
<tr align="left">
  <th>page.permalink</th><td>{{ page.permalink }}</td>
</tr>
<tr align="left">
  <th>page.categories</th><td>{{ page.categories }}</td>
</tr>
<tr align="left">
  <th>page.date</th><td>{{ page.date }}</td>
</tr>
</table>
