---
layout: post
title:  "Index of currentDIR"
---

{{ site.baseurl }}{{ page.dir | url_decode }}

{% for myfiles in site.static_files %}
<p>
  {{ myfiles.path }}
</p>
{% endfor %}

<ul>
  {% for post in site.pages  %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  <p>
    post.categories: {{ post.categories }} <hr/>
    post.dir: {{ post.dir }} <hr/>
    post.id: {{ post.id }} <hr/>
    post.permalink: {{ post.permalink }} <hr/>
    post.path: {{ post.path }} <hr/>
    post.name: {{ post.name }} <hr/>
    post.relative_path: {{ post.relative_path }} <hr/>
    post.url: {{ post.url }} <hr/>
    post.collection: {{ post.collection }} <hr/>
    post.date: {{ post.date }} <hr/>
  </p>
  {% endfor %}
</ul>